<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Oliver Racancoj | Desarrollador de Software</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Website landing Page for Developers">
    <meta name="author" content="3rd Wave Media">

    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />

    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- github acitivity css -->
    <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <link rel="stylesheet" href="http://caseyscarborough.github.io/github-activity/github-activity-0.1.0.min.css"> -->
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72855546-1', 'auto');
      ga('send', 'pageview');

    </script>

</head> 

<body>
    <!-- ******HEADER****** -->         
    <header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="/static/images/profile.png" alt="Oliver Racancoj" />
            <div class="profile-content pull-left">
                <h1 class="name">Oliver Racancoj</h1>
                <h2 class="desc">Desarrollador de Software</h2>   
                <ul class="social list-inline">
                    <li><a href="https://twitter.com/olivergt"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/+OliverRacancoj"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.github.com/oracan/"><i class="fa fa-github-alt"></i></a></li>                                   
                </ul> 
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="mailto:oliver.racancoj@gmail.com" target="_blank"><i class="fa fa-paper-plane"></i>Contacto</a>              
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">Acerca de mí    </h2>
                        <div class="content">
                            <p>Desarrollador de Software para Asociación IDEI desde el año 2007. En constante crecimiento personal y profesional, especializandome en construir aplicaciones web. Me gusta crear cosas, experimentar con nuevas tecnologías y mantenerme siempre al día en el mundo de desarrollo de software. Disfruto del sabor del café mientras programo.</p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
    
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Últimos proyectos</h2>
                        <div class="content">    
                                               
                            <div class="item featured text-center">
                                <h3 class="title"><a >Sistema BioTasP</a></h3>
                                <p class="summary">Sistema encargado del monitoreo de poblaciones en riesgo</p>
                                <div class="featured-image">                                    
                                    <img class="img-responsive project-image" src="/static/images/projects/biotasp.png" alt="Sistema BioTasP" />
                                    <div class="ribbon">
                                        <div class="text">Sistema</div>
                                        </div>
                                    </div>
                                    
                                <div class="desc text-left">                                    
                                    <p>Sistema biométrico desarrollado para <a href="http://www.asociacionidei.org/spanish">Asociación IDEI </a>con el objetivo apoyar en el trabajo de monitoreo de las poblaciones en alto riesgo con quienes se trabaja en 3 diferentes departamentos de Guatemala.</p>
                                </div><!--//desc-->         
                               
                            </div><!--//item-->
                            <hr class="divider" />
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" >
                                <img class="img-responsive project-image" src="/static/images/projects/DiplomadoAGOG.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a >Plataforma de distribución de contenido</a></h3>
                                    <p>Diseño y programación de la plataforma para distribución de contenido del "Diplomado en derechos sexuales y reproductivos" para la Asociación de Ginecología y Obstetricia de Guatemala, Filial Noroccidente.</p>
                                    <p><a href="http://107.170.67.116/" class="more-link"><i class="fa fa-external-link"></i> Ver más</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12">
                                <img class="img-responsive project-image" src="/static/images/projects/MeLatte.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a >Sistema web para reservaciones</a></h3>
                                    <p>Diseño y programación del sitio y aplicación web para manejar las reservaciones de Café Me~Latté.</p>
                                    <p><a href="http://www.cafemelatte.org" class="more-link"><i class="fa fa-external-link"></i> Ver más</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" >
                                <img class="img-responsive project-image" src="/static/images/projects/VisitaDomiciliar.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a >Sistema web para visita domiciliar</a></h3>
                                    <p> Análisis y diseño de sistema web multiplataforma para el manejo de visitas domiciliarias realizadas a pacientes de la Clínica de Atención Integral "Dr. Isaac Cohen Alcahé" </p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
                
                
                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Experiencia Laboral</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Ingeniería de Software <span class="place"><a href="http://www.asociacionidei.org/spanish/">Asociación IDEI</a></span> <span class="year">(2007 - Presente)</span></h3>

                                <p>
                                    Análisis y gestión de datos para la Clínica de Atención Integral "Dr. Isaac Cohen Alcáhé" (Clínica ICA). 
                                </p>
                                <p>
                                    Manejo del Sistema Integra para la gestión de datos clínicos de pacientes con VIH, así como de su base de datos gestionada por SQL Server. 
                                </p>
                                <p>
                                    Análisis de datos para las publicaciones “Impact of integrating HIV and TB care and treatment in a regional tuberculosis hospital in rural Guatemala” y “Impact of Integrating an ART clinic in a Regional TB Hospital in rural Guatemala”; de igual manera he contribuído con el constante análisis para nuevos proyectos e investigaciones de Asociación IDEI.
                                </p>
                                <p>
                                    Análisis, diseño y desarrollo de software para la mejora del análisis de datos, lo cual incluye aplicaciones web, sistemas web, aplicaciones para sistema operativo Windows, aplicaciones móviles, entre otros.
                                </p>
                                    Acompañamiento para la transición del Sistema Integra al <a href="https://www.researchgate.net/publication/282361055_The_MANGUA_project_A_population-based_HIV_cohort_in_Guatemala">Sistema MANGUA</a> para el manejo de la cohorte de pacientes con VIH en Clínica ICA
                                </p>
                                <p>
                                    Manejo de sitios web de <a href="http://www.asociacionidei.org/spanish/">Asociación IDEI</a> y <a href="http://www.parlamentoninez.org/spansiih">Parlamento de la Niñez y Adolescencia</a> con el CMS Joomla (Hasta el año 2009)
                                </p>
                                <p>
                                    Análisis, diseño y desarrollo del Sistema BioTasP para el monitoreo de poblaciones en alto riesgo. Backend realizado en Django con MySQL, Gunicorn, Nginx; aplicación desarrollada para sistema Android.
                                </p>
                                <p>
                                    Amplio manejo del stack LAMP y LEMP para aplicaciones intranet.
                                </p>
                                <p>
                                    Administración de servidores basados en CentOS y Ubuntu Server.
                                </p>

                            </div><!--//item-->
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->                
            </div><!--//primary-->



            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Información Básica</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Ubicación:</span>Quetzaltenango, GT</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">oliver@racancoj.com</a></li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Sitio Web:</span><a href="#">http://www.racancoj.com</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Habilidades</h2>
                        <div class="content">
                            <!-- <p class="intro">
                                Intro about your skills goes here. Keep the list lean and only show your primary skillset. You can always provide a link to your Linkedin or Coderwall profile so people can get more info there.</p> -->
                            
                            <div class="skillset">
                               
                                <div class="item">
                                    <h3 class="level-title">Python &amp; Django<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Pro</span></h3>

                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="75%" style="width:75%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3<span class="level-label">Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="75%" style="width:75%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">MySQL, SQL Server<span class="level-label">Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="75%" style="width:75%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Javascript &amp; jQuery<span class="level-label" data-original-title="Aprendiendo constantemente" data-toggle="tooltip" data-placement="left" data-animation="true" title=""><i class="fa fa-info-circle"></i></span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="50%" style="width:50%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Java para Android<span class="level-label" data-original-title="Aprendiendo constantemente" data-toggle="tooltip" data-placement="left" data-animation="true" title=""><i class="fa fa-info-circle"></i></span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="50%" style="width:50%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                <aside class="publications aside section">
                    <div class="section-inner">
                        <h2 class="heading">Publicaciones</h2>
                        <div class="content">
                            <div class="item">
                                <h4>“Impact of integrating HIV and TB care and treatment in a regional tuberculosis hospital in rural Guatemala”</h4>
                                <p>Co-autor (2013)</p>
                            </div><!--//item-->
                            
                            <p><a class="more-link" href="http://escholarship.org/uc/item/90t0h1v1"><i class="fa fa-external-link"></i>Ver</a></p> 

                            <div class="item">
                                <h4>“Impact of Integrating an ART clinic in a Regional TB Hospital in rural Guatemala”</h4>
                                <p>Co-autor (2010)</p>
                            </div><!--//item-->
                            
                            <p><a class="more-link" href="https://www.aids2014.org/Default.aspx?pageId=12&abstractId=200737164"><i class="fa fa-external-link"></i>Ver</a></p>  
                            
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Educación</h2>
                        <div class="content">
                            <div class="item">                      
                                <h3 class="title"><i class="fa fa-graduation-cap"></i>Backend y Frontend Profesional</h3>
                                <h4 class="university">Platzi<span class="year"> (Re-certificación)</span></h4>
                            </div><!--//item-->
                            <div class="item">                      
                                <h3 class="title"><i class="fa fa-graduation-cap"></i>Ingeniería en Sistemas de Información</h3>
                                <h4 class="university">Universidad Mariano Gálvez <span class="year"> (Actualmente)</span></h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i>Perito en Electrónica</h3>
                                <h4 class="university">Colegio Juan Francisco Alfaro Mijangos<span class="year"> (2005)</span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                            
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Idiomas</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>Español:</strong></span>
                                    <span class="level">Idioma Materno <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>Inglés:</strong></span>
                                    <span class="level">Habilidad Profesional <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                </li><!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list conferences aside section">
                    <div class="section-inner">
                        <h2 class="heading">Conferencias</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar"></i> <a href="http://flisol.info/FLISOL2014/Guatemala/Quetzaltenango" target="_blank">Flisol 2014</a></li>

                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->                
              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">3rd Wave Media</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
    
</body>
</html> 
